/* Universal Selector */
* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

/* Assigning color to the Body Element */
body {
  background-color: lemonchiffon;
}

/* Assiging Height, Width, color and background color to Header and Footer Elements */
header,
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #f0ead6;
  background-color: #191970;
}

/* Assigning Width and background color to the figure element */
figure {
  width: 200px;
  background-color: #f0ead6;
}

/* Setting the class highlighted-text to bolder */
.highlighted-text {
  font-weight: bolder;
}

/* Assigning background-color to the contact-seclector id */
#contact-section {
  background-color: #f0ead6;
}
